################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeDirectory/.vs/EmployeeDirectory
/EmployeeDirectory/EmployeeDirectory/.vs
/EmployeeDirectory/EmployeeDirectory/bin
/EmployeeDirectory/EmployeeDirectory/obj
/EmployeeDirectory/packages
